[*.cs]

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none
